<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>253381209758-tfa740cjd59jdeu4cbbaekplocmlobev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.253381209758-tfa740cjd59jdeu4cbbaekplocmlobev</string>
	<key>API_KEY</key>
	<string>AIzaSyAB6eLCazv08Zus10HwZ5wJf_bb_CLiunQ</string>
	<key>GCM_SENDER_ID</key>
	<string>253381209758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>info.popp.AppAesthesia1</string>
	<key>PROJECT_ID</key>
	<string>appaesthesia1</string>
	<key>STORAGE_BUCKET</key>
	<string>appaesthesia1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253381209758:ios:d5aae685a344c429</string>
	<key>DATABASE_URL</key>
	<string>https://appaesthesia1.firebaseio.com</string>
</dict>
</plist>